
.App {
    background-image: url("./images/emptyroom.jpg");
    min-height: 980px;
}

.Dresser {
    display: block;
    width: 100px;
    height: 100px;
}

.TV {
    display: block;
    width: 100px;
    height: 100px;
}

