.containerLR {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BigImage {
    width: 400px;
    height: 400px;
}

.ImageRow {
    width: 100px;
    height: 100px;
}

.RetailerButton {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    text-align: center;
}