.containerLR {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.BigImage {
    justify-content: center;
    align-items: center;
}

.BigImageImg {
    width: 400px;
    height: 400px;
    padding: 15px;
}

.ImageBar {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 15px;
}

.ImageRowImg {
    width: 100px;
    height: 100px;
    text-align: right;
    padding: 1px;
}

.RetailerButton {
    display: inline-block;
    padding: 5px 20px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    text-align: center;
}

.ProductInfo {
    text-align: left;
    padding-left: 15px;
}

.decription {
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}

.price {
    text-align: right;
    padding: 10px;
}

.path {
    text-align: left;
    padding-left: 15px;
}